<div class="sticker sticker-maadu-garage">
    <div class="sticker-header">
        <span class="reg-number">{{regNumber}}</span>
    </div>
    <div class="sticker-barcode-row">
        <span class="barcode-number">{{barcodeNumber}}</span>
    </div>
    <div class="sticker-body">
        <div class="sticker-info">
            <div class="date-row"><strong>From:</strong> {{fromDate}}</div>
            <div class="date-row"><strong>To:</strong> {{toDate}}</div>
            <div>{{modelNumber}}</div>
            <div>{{chassisNumber}}</div>
            <div>{{engineSerial}}</div>
            <div>{{engineCapacity}}</div>
        </div>
        <div class="sticker-right">
            <svg class="barcode"></svg>
            <img src="templates/maadu-garage.png" alt="Maadu Garage" class="logo-img">
        </div>
    </div>
    <div class="sticker-footer">Maadu Garage, TEL: 300 6688</div>
</div>
