<div class="sticker sticker-rs-auto">
    <div class="sticker-header">
        <span class="reg-number">{{regNumber}}</span>
    </div>
    <div class="sticker-barcode-row">
        <span class="barcode-number">{{barcodeNumber}}</span>
        <svg class="barcode"></svg>
    </div>
    <div class="sticker-body">
        <div class="sticker-info">
            <div class="date-row"><strong>From:</strong> {{fromDate}}</div>
            <div class="date-row"><strong>To:</strong> {{toDate}}</div>
            <div>{{modelNumber}}</div>
            <div>{{chassisNumber}}</div>
            <div>{{engineSerial}}</div>
            <div>{{engineCapacity}}</div>
        </div>
        <div class="sticker-logo">
            <img src="templates/rs-auto.png" alt="RS AUTO" class="logo-img">
        </div>
    </div>
    <div class="sticker-footer">RS AUTO, TEL: 775 8999</div>
</div>
